*{
    padding: 0;
    margin: 0;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Navbar related style */

.nav-bar{
    width: 100%;
    min-height: 76px;
    display: flex;
    justify-content: space-around;
    background-color: #412567;
    color: white;
    align-items: center;
    text-align: center;
}

.nav-link{
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 14px;
}

.logo{
    font-size: 24px;
    cursor: pointer;
}

.logo-color{
   color: rgba(253, 19, 187, 0.849)
}

.items{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.btn{
    padding: 10px 16px;
    font-size: 13px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
    cursor: pointer;
}

.btn img{
    max-width: 15px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

/* Hero section for web browser */

.hero{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 130vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero small{
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.hero p{
    font-size: 17px;
    color: aliceblue;
    padding-bottom: 15px;
}


.btn-1{
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    align-items: center;
    cursor: pointer;
}

.btn-2{
    padding: 10px 16px;
    font-size: 17px;
    border-radius: 10000px;
    background: transparent;
    color: white;
    margin-left: 8px;
    cursor: pointer;
}


/* About section style */

.about-section{
    width: 100%;
    min-height: 80vh; 
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.about-section small{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 200px;
}
.about-section p{
    color: gray;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 80px;
}

.box h1{
    color: #00FF88;
}

/* box section */

.box-with-reason{
    background-color: #321f4d;
    width: 100%;
    min-height: 140vh;
}

.box-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3, 268px);
    justify-content: center;
    padding: 120px;
    padding-top: 20px;
}

.box-container h3{
    font-size: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.box-with-reason h1{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 5px;
    font-size: 2.6rem; 
    color: white;  
}

.boxes{
    background: rgba(53, 17, 101, 0.4);
    padding: 33px;
    color: white;
    border-radius: 40px;
}

#first{
    grid-row: span 2;
    grid-column: span 1;
}

#second{
    grid-row: span 1;
    grid-column: span 2;
}

#third{
    grid-row: span 1;
    grid-column: span 2;
}

#fourth{
    grid-row: span 1;
    grid-column: span 2;
}

#fifth{
    grid-row: span 1;
    grid-column: span 1;
}

/* Featured episode style */

.featured-section{
    background-color: #1A0B2E;
    width: 100%;
    min-height: 90vh;
}

.featured-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 260px);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 120px;
    padding-top: 80px;

}

.featured-box{
    background-color: #321f4d;
    color: white;
    border-radius: 5px;
}

.box-featured-text{
    padding: 15px;
}
.featured-section h1{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 100px;
    color: white;
}

.icon{
    margin-top: 20px;
}


/* Host section style */

.host-section{
    background-color: #1A0B2E;
    width: 100%;
    min-height: 70vh;
}
.heading-top{
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    color: white;
}

.box-host{
    background-color: #321f4d;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    gap: 23px;
    border-radius: 40px;
}

.host-content{
    margin-top: 30px;
}

.host-content h1{
    color: white;
    font-size: 1rem;
}

.host-content p{
    color: gray;
    margin-top: 10px;
}

.icon-host{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}


/* footer style */

footer{
    background-image: url(./assets/footer-bg.png);
    width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
    text-align: center;
    gap: 20px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

footer b{
    font-size: 2.5rem;
    color: white;
}

.social-list{
    display: flex;
    gap: 25px;
}

.footer-item p{
    color: white;
    font-size: 0.7rem;
}

.social-items{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 5px;
}


.hide{
    display: none !important;
}




/* responsiveness */

/* navbar */

@media screen and (max-width: 576px) {
    .nav-link,.btn{
        display: none;
    }
    .menu-icon {
        display: flex;
    }
}

/* hero section */

@media (max-width: 576px) {
    .hero{
        min-height: 75vh;
    }
    
    .hero small {
        font-size: 36px;
    }

    .hero p {
        font-size: 14px;
        padding: 0 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* About section */

@media (max-width: 576px) {
    .about-section{
        min-height: 50vh;
    }
    .box{
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        gap: 20px;
        margin-top: 40px;
        padding-bottom: 28px;
    }
    .about-section small{
        font-size: 2.5rem;
    }
    .about-section p{
        padding: 30px;
        padding-bottom: 0px;
    }
}



/* Box container */

@media (max-width: 576px) {
    .box-container {
        grid-template-columns: 1fr;
        padding: 40px 16px;
        min-height: 50vh;
    }
    #first{
    grid-row: span 1;
    grid-column: span 1;
    }

    .box-with-reason h1{
        font-size: 2.5rem;

    }

}


@media (max-width: 576px) {
    .featured-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 90px 50px;
    }

    .featured-box iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    .featured-box{
        flex-direction: column;
    }
    .box-featured-text{
        padding-top: 20px;
    }
    .featured-section h1{
        padding-top: 80px;
    }
}


/* Host section */

@media (max-width: 576px) {
    .host-section{
        min-height: 55vh;
    }
}

/* footer */

@media (max-width: 576px) {
    .social-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
