*{
    padding: 0;
    margin-top: 0;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}





/* Navbar related style */

.nav-bar{
    width: 100%;
    min-height: 76px;
    display: flex;
    justify-content: space-around;
    background-color: #412567;
    color: white;
    align-items: center;
    text-align: center;
}

.nav-link{
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 14px;
}

.logo{
    font-size: 24px;
    cursor: pointer;
}

.logo-color{
   color: rgba(253, 19, 187, 0.849)
}

.items{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.btn{
    padding: 10px 16px;
    font-size: 13px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
    cursor: pointer;
}

.btn img{
    max-width: 15px;
}



/* Hero section for web browser */

.hero{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero small{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.hero p{
    font-size: 17px;
    color: aliceblue;
}

.btn-1{
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    align-items: center;
    cursor: pointer;
}

.btn-2{
    padding: 10px 16px;
    font-size: 17px;
    border-radius: 10000px;
    background: transparent;
    color: white;
    margin-left: 8px;
    cursor: pointer;
}


/* About section style */


.about-section{
    width: 100%;
    min-height: 80vh; 
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.about-section small{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 200px;
}
.about-section p{
    color: gray;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 80px;
}

.box h1{
    color: #00FF88;
}